In [2]:
import pandas as pd
import numpy as np
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline

import tensorflow as tf
import tensorflow.keras as keras
from alibi.explainers import Counterfactual
from alibi.explainers import CounterfactualRLTabular, CounterfactualRL
from alibi.explainers import CounterfactualProto
#from alibi.datasets import fetch_adult
from alibi.models.tensorflow import HeAE
from alibi.models.tensorflow import Actor, Critic
#from alibi.models.tensorflow import ADULTEncoder, ADULTDecoder
from alibi.explainers.cfrl_base import Callback
from alibi.explainers.backends.cfrl_tabular import get_he_preprocessor, get_statistics, \
    get_conditional_vector, apply_category_mapping

In [67]:
credit_data = pd.read_csv("datasets/Credit.csv",index_col=0)

In [9]:
from sklearn.preprocessing import OrdinalEncoder

# List of categorical features
cat_features = [
    'checkingstatus1', 'history', 'purpose', 'savings', 'employ',
    'sex', 'housing', 'tele', 'foreign'
]

# Initialize ordinal encoder
encoder = OrdinalEncoder()
credit_data[cat_features] = encoder.fit_transform(credit_data[cat_features])

In [10]:
from sklearn.model_selection import train_test_split

# Split the data into training and testing sets
X = credit_data.drop(columns=['Default'])
y = credit_data['Default']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

X_train.shape, X_test.shape

((800, 16), (200, 16))

In [11]:
import xgboost as xgb

# Define the XGBoost classifier
clf = xgb.XGBClassifier(
    objective='binary:logistic',
    eval_metric='logloss',
    use_label_encoder=False,
    n_estimators=100
)

# Train the model
clf.fit(X_train, y_train)

`use_label_encoder` is deprecated in 1.7.0.

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric='logloss',
              feature_types=None, gamma=None, gpu_id=None, grow_policy=None,
              importance_type=None, interaction_constraints=None,
              learning_rate=None, max_bin=None, max_cat_threshold=None,
              max_cat_to_onehot=None, max_delta_step=None, max_depth=None,
              max_leaves=None, min_child_weight=None, missing=nan,
              monotone_constraints=None, n_estimators=100, n_jobs=None,
              num_parallel_tree=None, predictor=None, random_state=None, ...)

In [12]:
from sklearn.metrics import f1_score, classification_report

# Make predictions on the test set
y_pred = clf.predict(X_test)

print(f"F1 Score: {f1_score(y_test, y_pred)}")

print(classification_report(y_test, y_pred))

F1 Score: 0.5306122448979591
              precision    recall  f1-score   support

           0       0.80      0.91      0.85       141
           1       0.67      0.44      0.53        59

    accuracy                           0.77       200
   macro avg       0.73      0.67      0.69       200
weighted avg       0.76      0.77      0.75       200

In [19]:
def predict_fn(X):
    # The predict_proba method of the pipeline returns an array of shape (n_samples, 2)
    # Return both columns as the CounterfactualProto explainer expects a probability for each class
    pred_proba = clf.predict_proba(X)
    return np.hstack([1 - pred_proba[:, 1].reshape(-1, 1), pred_proba[:, 1].reshape(-1, 1)])

In [20]:
# Calculate the min and max values for the entire training dataset
feature_min = np.min(X_train, axis=0)
feature_max = np.max(X_train, axis=0)

In [21]:
from alibi.explainers import CounterfactualProto

tf.compat.v1.disable_eager_execution()

# Initialize CounterFactualProto
shape = (1,) + X_train.shape[1:]
# Initialize the explainer
cf = CounterfactualProto(predict_fn, shape, use_kdtree=True, theta=10., max_iterations=1000,
                         feature_range=(feature_min, feature_max), 
                         c_init=1., c_steps=10)
cf.fit(X_train.values)

No encoder specified. Using k-d trees to represent class prototypes.

CounterfactualProto(meta={
  'name': 'CounterfactualProto',
  'type': ['blackbox', 'tensorflow', 'keras'],
  'explanations': ['local'],
  'params': {
              'kappa': 0.0,
              'beta': 0.1,
              'gamma': 0.0,
              'theta': 10.0,
              'cat_vars': None,
              'ohe': False,
              'use_kdtree': True,
              'learning_rate_init': 0.01,
              'max_iterations': 1000,
              'c_init': 1.0,
              'c_steps': 10,
              'eps': (0.001, 0.001),
              'clip': (-1000.0, 1000.0),
              'update_num_grad': 1,
              'write_dir': None,
              'feature_range': (checkingstatus1      0.0
duration             4.0
history              0.0
purpose              0.0
amount             250.0
savings              0.0
employ               0.0
installment          1.0
sex                  0.0
residence            1.0
age                 19.0
housing              0.0
cards                1.0
liable               1.0
tele                 0.0
foreign              0.0
dtype: float64, checkingstatus1        3.0
duration              60.0
history                2.0
purpose                4.0
amount             18424.0
savings                2.0
employ                 3.0
installment            4.0
sex                    1.0
residence              4.0
age                   75.0
housing                2.0
cards                  4.0
liable                 2.0
tele                   1.0
foreign                1.0
dtype: float64),
              'shape': (1, 16),
              'is_model': False,
              'is_ae': False,
              'is_enc': False,
              'enc_or_kdtree': True,
              'is_cat': False,
              'trustscore_kwargs': None,
              'd_type': 'abdm',
              'w': None,
              'disc_perc': (25, 50, 75),
              'standardize_cat_vars': False,
              'smooth': 1.0,
              'center': True,
              'update_feature_range': True}
            ,
  'version': '0.9.4'}
)

In [29]:
instances = X_test[y_pred == 1].values

explanation = cf.explain(instances[1].reshape(1, -1))
explanation.cf['X']

# # Generate counterfactuals
# counterfactuals = []
# for instance in instances:
#     explanation = cf.explain(instance.reshape(1, -1))
#     counterfactuals.append(explanation.cf['X'])

# Generate the counterfactuals
# counterfactuals = []

# for instance in instances:
#     explanation = cf.explain(instance.reshape(1, -1))
#     if explanation.cf is not None and 'X' in explanation.cf:
#         counterfactuals.append(explanation.cf['X'])
#     else:
#         counterfactuals.append(None)

# # Count the number of instances for which no counterfactual was found
# no_cf_count = counterfactuals.count(None)

# no_cf_count

array([[  1.      ,  10.465166,   1.      ,   2.      , 585.62634 ,
          0.      ,   1.      ,   4.      ,   1.      ,   4.      ,
         21.534851,   2.      ,   2.      ,   1.      ,   0.      ,
          0.      ]], dtype=float32)

In [42]:
instances[1]

array([  1.,  12.,   1.,   2., 585.,   0.,   1.,   4.,   1.,   4.,  20.,
         2.,   2.,   1.,   0.,   0.])

In [43]:
explanation0 = cf.explain(instances[0].reshape(1, -1))
print(explanation0.cf['X'])
print(instances[0])

[[1.5681556e+00 1.9935682e+01 0.0000000e+00 3.0000000e+00 2.3218469e+03
  1.0000000e+00 1.4279537e+00 2.0000000e+00 1.0000000e+00 3.0000000e+00
  3.2427963e+01 1.0000000e+00 1.0000000e+00 1.0000000e+00 0.0000000e+00
  0.0000000e+00]]
[0.000e+00 2.400e+01 0.000e+00 3.000e+00 2.325e+03 1.000e+00 1.000e+00
 2.000e+00 1.000e+00 3.000e+00 3.200e+01 1.000e+00 1.000e+00 1.000e+00
 0.000e+00 0.000e+00]

In [44]:
explanation2 = cf.explain(instances[2].reshape(1, -1))
print(explanation2.cf['X'])
print(instances[2])

[[0.0000000e+00 3.8087887e+01 1.0000000e+00 2.0000000e+00 3.9610884e+03
  0.0000000e+00 1.7780616e+00 4.0000000e+00 1.0000000e+00 3.0000000e+00
  3.1510588e+01 1.0000000e+00 1.0000000e+00 1.0000000e+00 3.5536310e-01
  0.0000000e+00]]
[0.000e+00 4.200e+01 1.000e+00 2.000e+00 3.965e+03 0.000e+00 0.000e+00
 4.000e+00 1.000e+00 3.000e+00 3.400e+01 1.000e+00 1.000e+00 1.000e+00
 0.000e+00 0.000e+00]

In [45]:
explanation3 = cf.explain(instances[3].reshape(1, -1))
print(explanation3.cf['X'])
print(instances[3])

[[5.0000006e-01 5.7699997e+01 1.0000000e+00 3.0000004e-01 7.2871001e+03
  0.0000000e+00 2.0000000e+00 3.8999999e+00 1.0000000e+00 3.8999999e+00
  3.5299999e+01 1.9000000e+00 1.1000000e+00 1.1000000e+00 0.0000000e+00
  0.0000000e+00]]
[0.000e+00 6.000e+01 1.000e+00 0.000e+00 7.297e+03 0.000e+00 2.000e+00
 4.000e+00 1.000e+00 4.000e+00 3.600e+01 2.000e+00 1.000e+00 1.000e+00
 0.000e+00 0.000e+00]

In [ ]:
# need a decoder!

# DiCE Random

In [40]:
continuous_features = ['duration', 'amount', 'installment', 'residence', 'age', 'cards', 'liable']
categorical_features = ['checkingstatus1', 'history', 'purpose', 'savings', 'employ', 'sex', 'housing', 'tele', 'foreign']
immutable_features = ['sex', 'liable', 'foreign', 'purpose']
non_decreasing_features = ['age', 'employ']
correlated_features = []

In [41]:
import dice_ml
import time
from dice_ml.utils import helpers

full_train_df = pd.DataFrame(X_train, columns=X.columns)

# Add the target column
full_train_df['target'] = y_train.values

# Prepare a random instance from the test set for which you want to generate counterfactuals
instances_1 = X_test[y_pred == 1]
query_instance = instances_1.sample(1)
query_instance_df = pd.DataFrame(query_instance, columns=X.columns)


# Define continuous features (assuming all non-categorical columns are continuous)
continuous_features = [col for col in X_train.columns if col not in cat_features + ['target']]

# Create the data object for DiCE
d = dice_ml.Data(dataframe=full_train_df, continuous_features=continuous_features, outcome_name='target')
backend = 'sklearn'
method = 'random'

class ModelWrapper:
    def __init__(self, model):
        self.model = model
    
    def predict_proba(self, data):
        if isinstance(data, pd.DataFrame):
            return self.model(data.values)
        else:
            return self.model(data)

def model_predict(data):
    if isinstance(data, pd.DataFrame):
        return clf.predict_proba(data.values)
    else:
        return clf.predict_proba(data)

# 使用包装器
wrapped_model = ModelWrapper(model_predict)
m = dice_ml.Model(model=wrapped_model, backend=backend)


# Create the DiCE explainer and generate counterfactuals
exp = dice_ml.Dice(d, m, method=method)


# Loop through each instance in instances_1 and generate counterfactuals
counterfactuals_list = []
for _, instance in instances_1.iterrows():
    instance_df = pd.DataFrame(instance).T
    dice_exp = exp.generate_counterfactuals(instance_df, total_CFs=2, desired_class="opposite")
    cf_df = dice_exp.visualize_as_dataframe(show_only_changes=True)
    counterfactuals_list.append((instance, cf_df))

UserConfigValidationException will be deprecated from dice_ml.utils. Please import UserConfigValidationException from raiutils.exceptions.
100%|█████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00,  5.12it/s]

Query instance (original outcome : 1)

,checkingstatus1,duration,history,purpose,amount,savings,employ,installment,sex,residence,age,housing,cards,liable,tele,foreign,target
0,0.0,24,0.0,3.0,2325,1.0,1.0,2,1.0,3,32,1.0,1,1,0.0,0.0,1

Diverse Counterfactual set (new outcome: 0.0)

,checkingstatus1,duration,history,purpose,amount,savings,employ,installment,sex,residence,age,housing,cards,liable,tele,foreign,target
0,0.0,-,0.0,3.0,-,1.0,1.0,-,1.0,-,52.0,1.0,-,-,1.0,0.0,0
1,0.0,35.0,0.0,3.0,-,1.0,1.0,-,1.0,-,-,1.0,-,-,0.0,0.0,0

100%|█████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00,  5.63it/s]

Query instance (original outcome : 1)

,checkingstatus1,duration,history,purpose,amount,savings,employ,installment,sex,residence,age,housing,cards,liable,tele,foreign,target
0,1.0,12,1.0,2.0,585,0.0,1.0,4,1.0,4,20,2.0,2,1,0.0,0.0,1

Diverse Counterfactual set (new outcome: 0.0)

,checkingstatus1,duration,history,purpose,amount,savings,employ,installment,sex,residence,age,housing,cards,liable,tele,foreign,target
0,1.0,-,1.0,2.0,-,0.0,1.0,-,0.0,-,43.0,2.0,-,-,0.0,0.0,0
1,1.0,-,1.0,2.0,-,0.0,1.0,-,1.0,-,43.0,2.0,3.0,-,0.0,0.0,0

100%|█████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00,  5.07it/s]

Query instance (original outcome : 1)

,checkingstatus1,duration,history,purpose,amount,savings,employ,installment,sex,residence,age,housing,cards,liable,tele,foreign,target
0,0.0,42,1.0,2.0,3965,0.0,0.0,4,1.0,3,34,1.0,1,1,0.0,0.0,1

Diverse Counterfactual set (new outcome: 0.0)

,checkingstatus1,duration,history,purpose,amount,savings,employ,installment,sex,residence,age,housing,cards,liable,tele,foreign,target
0,0.0,-,1.0,2.0,-,0.0,0.0,1.0,1.0,-,-,1.0,-,-,-,0.0,0
1,0.0,-,1.0,2.0,14683.0,0.0,0.0,-,1.0,-,-,1.0,-,-,1.0,0.0,0

100%|█████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00,  5.61it/s]

Query instance (original outcome : 1)

,checkingstatus1,duration,history,purpose,amount,savings,employ,installment,sex,residence,age,housing,cards,liable,tele,foreign,target
0,0.0,60,1.0,0.0,7297,0.0,2.0,4,1.0,4,36,2.0,1,1,0.0,0.0,1

Diverse Counterfactual set (new outcome: 0.0)

,checkingstatus1,duration,history,purpose,amount,savings,employ,installment,sex,residence,age,housing,cards,liable,tele,foreign,target
0,0.0,-,1.0,1.0,-,0.0,2.0,2.0,1.0,-,-,2.0,-,-,0.0,0.0,0
1,0.0,-,1.0,0.0,11000.0,2.0,2.0,-,1.0,-,-,2.0,-,-,0.0,0.0,0

100%|█████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00,  5.02it/s]

Query instance (original outcome : 1)

,checkingstatus1,duration,history,purpose,amount,savings,employ,installment,sex,residence,age,housing,cards,liable,tele,foreign,target
0,1.0,60,1.0,1.0,6288,0.0,1.0,4,1.0,4,42,0.0,1,1,0.0,0.0,1

Diverse Counterfactual set (new outcome: 0.0)

,checkingstatus1,duration,history,purpose,amount,savings,employ,installment,sex,residence,age,housing,cards,liable,tele,foreign,target
0,1.0,30.0,1.0,1.0,-,0.0,1.0,-,1.0,-,68.0,0.0,-,-,0.0,0.0,0
1,1.0,17.0,1.0,1.0,-,0.0,1.0,-,1.0,-,-,0.0,-,-,0.0,1.0,0

100%|█████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00,  5.08it/s]

Query instance (original outcome : 1)

,checkingstatus1,duration,history,purpose,amount,savings,employ,installment,sex,residence,age,housing,cards,liable,tele,foreign,target
0,0.0,24,1.0,2.0,1823,0.0,3.0,4,1.0,2,30,1.0,1,2,0.0,0.0,1

Diverse Counterfactual set (new outcome: 0.0)

,checkingstatus1,duration,history,purpose,amount,savings,employ,installment,sex,residence,age,housing,cards,liable,tele,foreign,target
0,0.0,-,1.0,2.0,-,0.0,3.0,-,1.0,-,57.0,1.0,-,-,1.0,0.0,0
1,0.0,-,1.0,2.0,5524.0,0.0,3.0,-,1.0,-,-,1.0,-,-,0.0,0.0,0

100%|█████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00,  4.85it/s]

Query instance (original outcome : 1)

,checkingstatus1,duration,history,purpose,amount,savings,employ,installment,sex,residence,age,housing,cards,liable,tele,foreign,target
0,1.0,36,1.0,2.0,2323,0.0,1.0,4,1.0,4,24,2.0,1,1,0.0,0.0,1

Diverse Counterfactual set (new outcome: 0.0)

,checkingstatus1,duration,history,purpose,amount,savings,employ,installment,sex,residence,age,housing,cards,liable,tele,foreign,target
0,1.0,-,1.0,2.0,-,1.0,1.0,-,1.0,-,44.0,2.0,-,-,0.0,0.0,0
1,1.0,-,1.0,2.0,-,0.0,1.0,-,1.0,-,36.0,2.0,3.0,-,0.0,0.0,0

100%|█████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00,  4.75it/s]

Query instance (original outcome : 1)

,checkingstatus1,duration,history,purpose,amount,savings,employ,installment,sex,residence,age,housing,cards,liable,tele,foreign,target
0,1.0,36,1.0,3.0,2862,1.0,2.0,4,1.0,3,30,0.0,1,1,0.0,0.0,1

Diverse Counterfactual set (new outcome: 0.0)

,checkingstatus1,duration,history,purpose,amount,savings,employ,installment,sex,residence,age,housing,cards,liable,tele,foreign,target
0,1.0,24.0,1.0,3.0,-,1.0,2.0,-,1.0,-,-,0.0,-,-,0.0,0.0,0
1,1.0,-,1.0,3.0,-,1.0,2.0,1.0,1.0,-,-,0.0,-,-,0.0,0.0,0

100%|█████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00,  4.61it/s]

Query instance (original outcome : 1)

,checkingstatus1,duration,history,purpose,amount,savings,employ,installment,sex,residence,age,housing,cards,liable,tele,foreign,target
0,0.0,36,2.0,2.0,6229,0.0,0.0,4,0.0,4,23,2.0,2,1,1.0,0.0,1

Diverse Counterfactual set (new outcome: 0.0)

,checkingstatus1,duration,history,purpose,amount,savings,employ,installment,sex,residence,age,housing,cards,liable,tele,foreign,target
0,0.0,13.0,2.0,2.0,-,-,0.0,-,0.0,-,-,2.0,-,-,1.0,0.0,0
1,0.0,6.0,2.0,2.0,-,0.0,0.0,-,0.0,-,-,2.0,3.0,-,1.0,0.0,0

100%|█████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00,  4.77it/s]

Query instance (original outcome : 1)

,checkingstatus1,duration,history,purpose,amount,savings,employ,installment,sex,residence,age,housing,cards,liable,tele,foreign,target
0,2.0,36,1.0,2.0,4473,0.0,2.0,4,1.0,2,31,1.0,1,1,0.0,0.0,1

Diverse Counterfactual set (new outcome: 0.0)

,checkingstatus1,duration,history,purpose,amount,savings,employ,installment,sex,residence,age,housing,cards,liable,tele,foreign,target
0,2.0,26.0,1.0,2.0,-,0.0,1.0,-,1.0,-,-,1.0,-,-,0.0,0.0,0
1,2.0,-,-,2.0,17835.0,0.0,2.0,-,1.0,-,-,1.0,-,-,0.0,0.0,0

100%|█████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00,  5.15it/s]

Query instance (original outcome : 1)

,checkingstatus1,duration,history,purpose,amount,savings,employ,installment,sex,residence,age,housing,cards,liable,tele,foreign,target
0,0.0,24,0.0,2.0,6872,0.0,0.0,2,1.0,1,55,1.0,1,1,1.0,0.0,1

Diverse Counterfactual set (new outcome: 0.0)

,checkingstatus1,duration,history,purpose,amount,savings,employ,installment,sex,residence,age,housing,cards,liable,tele,foreign,target
0,3.0,-,0.0,2.0,-,0.0,0.0,-,1.0,4.0,-,1.0,-,-,1.0,0.0,0
1,0.0,56.0,0.0,2.0,-,0.0,0.0,-,1.0,-,-,1.0,-,2.0,1.0,0.0,0

100%|█████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00,  4.74it/s]

Query instance (original outcome : 1)

,checkingstatus1,duration,history,purpose,amount,savings,employ,installment,sex,residence,age,housing,cards,liable,tele,foreign,target
0,1.0,36,2.0,3.0,2820,0.0,0.0,4,1.0,4,27,1.0,2,1,0.0,0.0,1

Diverse Counterfactual set (new outcome: 0.0)

,checkingstatus1,duration,history,purpose,amount,savings,employ,installment,sex,residence,age,housing,cards,liable,tele,foreign,target
0,1.0,22.0,2.0,3.0,-,0.0,0.0,-,1.0,-,-,-,-,-,0.0,0.0,0
1,1.0,-,2.0,3.0,-,0.0,0.0,-,1.0,-,37.0,1.0,-,-,0.0,0.0,0

100%|█████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00,  5.10it/s]

Query instance (original outcome : 1)

,checkingstatus1,duration,history,purpose,amount,savings,employ,installment,sex,residence,age,housing,cards,liable,tele,foreign,target
0,1.0,12,1.0,3.0,1295,0.0,0.0,3,0.0,1,25,2.0,1,1,0.0,0.0,1

Diverse Counterfactual set (new outcome: 0.0)

,checkingstatus1,duration,history,purpose,amount,savings,employ,installment,sex,residence,age,housing,cards,liable,tele,foreign,target
0,1.0,-,1.0,1.0,-,0.0,0.0,-,0.0,-,-,2.0,-,-,1.0,0.0,0
1,1.0,44.0,1.0,3.0,-,0.0,0.0,-,0.0,-,60.0,2.0,-,-,0.0,0.0,0

100%|█████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00,  4.57it/s]

Query instance (original outcome : 1)

,checkingstatus1,duration,history,purpose,amount,savings,employ,installment,sex,residence,age,housing,cards,liable,tele,foreign,target
0,1.0,36,1.0,3.0,2225,0.0,2.0,4,1.0,4,57,0.0,2,1,1.0,0.0,1

Diverse Counterfactual set (new outcome: 0.0)

,checkingstatus1,duration,history,purpose,amount,savings,employ,installment,sex,residence,age,housing,cards,liable,tele,foreign,target
0,1.0,-,2.0,3.0,-,0.0,2.0,-,1.0,-,-,0.0,1.0,-,1.0,0.0,0
1,-,-,1.0,4.0,-,0.0,2.0,-,1.0,-,-,0.0,-,-,1.0,0.0,0

100%|█████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00,  5.31it/s]

Query instance (original outcome : 1)

,checkingstatus1,duration,history,purpose,amount,savings,employ,installment,sex,residence,age,housing,cards,liable,tele,foreign,target
0,2.0,10,1.0,2.0,1275,0.0,0.0,4,0.0,2,23,1.0,1,1,0.0,0.0,1

Diverse Counterfactual set (new outcome: 0.0)

,checkingstatus1,duration,history,purpose,amount,savings,employ,installment,sex,residence,age,housing,cards,liable,tele,foreign,target
0,2.0,-,1.0,2.0,-,0.0,2.0,-,0.0,-,-,1.0,3.0,-,0.0,0.0,0
1,2.0,-,1.0,2.0,2653.0,0.0,2.0,-,0.0,-,-,1.0,-,-,0.0,0.0,0

100%|█████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00,  4.99it/s]

Query instance (original outcome : 1)

,checkingstatus1,duration,history,purpose,amount,savings,employ,installment,sex,residence,age,housing,cards,liable,tele,foreign,target
0,0.0,24,1.0,2.0,1024,0.0,0.0,4,1.0,4,48,1.0,1,1,0.0,0.0,1

Diverse Counterfactual set (new outcome: 0.0)

,checkingstatus1,duration,history,purpose,amount,savings,employ,installment,sex,residence,age,housing,cards,liable,tele,foreign,target
0,0.0,-,1.0,2.0,-,0.0,0.0,1.0,1.0,-,27.0,1.0,-,-,0.0,0.0,0
1,0.0,5.0,1.0,2.0,-,0.0,0.0,-,1.0,-,-,1.0,-,-,0.0,0.0,0

100%|█████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00,  4.19it/s]

Query instance (original outcome : 1)

,checkingstatus1,duration,history,purpose,amount,savings,employ,installment,sex,residence,age,housing,cards,liable,tele,foreign,target
0,0.0,12,1.0,2.0,727,1.0,0.0,4,1.0,3,33,1.0,1,1,1.0,0.0,1

Diverse Counterfactual set (new outcome: 0.0)

,checkingstatus1,duration,history,purpose,amount,savings,employ,installment,sex,residence,age,housing,cards,liable,tele,foreign,target
0,3.0,-,1.0,-,-,1.0,0.0,-,1.0,-,-,1.0,-,-,1.0,0.0,0
1,-,-,1.0,2.0,3671.0,1.0,0.0,-,1.0,-,-,1.0,-,-,1.0,0.0,0

100%|█████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:01<00:00,  1.01s/it]

Query instance (original outcome : 1)

,checkingstatus1,duration,history,purpose,amount,savings,employ,installment,sex,residence,age,housing,cards,liable,tele,foreign,target
0,0.0,12,0.0,2.0,626,0.0,1.0,4,0.0,4,24,1.0,1,1,0.0,0.0,1

Diverse Counterfactual set (new outcome: 0.0)

,checkingstatus1,duration,history,purpose,amount,savings,employ,installment,sex,residence,age,housing,cards,liable,tele,foreign,target
0,0.0,-,1.0,2.0,-,0.0,1.0,-,-,-,-,1.0,-,-,0.0,0.0,0
1,0.0,-,0.0,2.0,-,0.0,1.0,1.0,0.0,-,-,1.0,-,-,0.0,0.0,0

100%|█████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00,  5.00it/s]

Query instance (original outcome : 1)

,checkingstatus1,duration,history,purpose,amount,savings,employ,installment,sex,residence,age,housing,cards,liable,tele,foreign,target
0,0.0,45,1.0,2.0,1845,0.0,1.0,4,1.0,4,23,0.0,1,1,1.0,0.0,1

Diverse Counterfactual set (new outcome: 0.0)

,checkingstatus1,duration,history,purpose,amount,savings,employ,installment,sex,residence,age,housing,cards,liable,tele,foreign,target
0,0.0,-,1.0,3.0,-,0.0,1.0,-,1.0,-,68.0,0.0,-,-,1.0,0.0,0
1,0.0,19.0,1.0,2.0,-,0.0,1.0,-,1.0,-,-,0.0,-,2.0,1.0,0.0,0

100%|█████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00,  5.14it/s]

Query instance (original outcome : 1)

,checkingstatus1,duration,history,purpose,amount,savings,employ,installment,sex,residence,age,housing,cards,liable,tele,foreign,target
0,1.0,60,1.0,3.0,14027,0.0,1.0,4,1.0,2,27,1.0,1,1,1.0,0.0,1

Diverse Counterfactual set (new outcome: 0.0)

,checkingstatus1,duration,history,purpose,amount,savings,employ,installment,sex,residence,age,housing,cards,liable,tele,foreign,target
0,3.0,-,1.0,3.0,-,2.0,1.0,-,1.0,-,-,1.0,-,-,1.0,0.0,0
1,1.0,-,1.0,3.0,1706.0,0.0,1.0,-,1.0,-,-,1.0,-,2.0,1.0,0.0,0

100%|█████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00,  4.89it/s]

Query instance (original outcome : 1)

,checkingstatus1,duration,history,purpose,amount,savings,employ,installment,sex,residence,age,housing,cards,liable,tele,foreign,target
0,3.0,22,1.0,3.0,1283,0.0,1.0,4,0.0,4,25,2.0,1,1,0.0,0.0,1

Diverse Counterfactual set (new outcome: 0.0)

,checkingstatus1,duration,history,purpose,amount,savings,employ,installment,sex,residence,age,housing,cards,liable,tele,foreign,target
0,3.0,-,1.0,1.0,-,0.0,1.0,-,0.0,-,72.0,2.0,-,-,0.0,0.0,0
1,3.0,-,1.0,2.0,-,0.0,1.0,-,0.0,3.0,-,2.0,-,-,0.0,0.0,0

100%|█████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00,  6.00it/s]

Query instance (original outcome : 1)

,checkingstatus1,duration,history,purpose,amount,savings,employ,installment,sex,residence,age,housing,cards,liable,tele,foreign,target
0,0.0,48,0.0,2.0,7119,0.0,1.0,3,1.0,4,53,0.0,2,2,0.0,0.0,1

Diverse Counterfactual set (new outcome: 0.0)

,checkingstatus1,duration,history,purpose,amount,savings,employ,installment,sex,residence,age,housing,cards,liable,tele,foreign,target
0,2.0,-,2.0,2.0,-,0.0,1.0,-,1.0,-,-,0.0,-,-,0.0,0.0,0
1,3.0,-,0.0,2.0,-,0.0,1.0,-,1.0,-,-,0.0,1.0,-,0.0,0.0,0

100%|█████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00,  4.95it/s]

Query instance (original outcome : 1)

,checkingstatus1,duration,history,purpose,amount,savings,employ,installment,sex,residence,age,housing,cards,liable,tele,foreign,target
0,0.0,24,1.0,2.0,3021,0.0,1.0,2,1.0,2,24,2.0,1,1,0.0,0.0,1

Diverse Counterfactual set (new outcome: 0.0)

,checkingstatus1,duration,history,purpose,amount,savings,employ,installment,sex,residence,age,housing,cards,liable,tele,foreign,target
0,0.0,-,1.0,2.0,-,2.0,1.0,4.0,1.0,-,-,2.0,-,-,0.0,0.0,0
1,0.0,20.0,1.0,2.0,-,0.0,1.0,-,1.0,-,57.0,2.0,-,-,0.0,0.0,0

100%|█████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00,  4.74it/s]

Query instance (original outcome : 1)

,checkingstatus1,duration,history,purpose,amount,savings,employ,installment,sex,residence,age,housing,cards,liable,tele,foreign,target
0,1.0,48,0.0,0.0,14421,0.0,1.0,2,1.0,2,25,1.0,1,1,1.0,0.0,1

Diverse Counterfactual set (new outcome: 0.0)

,checkingstatus1,duration,history,purpose,amount,savings,employ,installment,sex,residence,age,housing,cards,liable,tele,foreign,target
0,1.0,-,-,0.0,-,0.0,1.0,-,1.0,-,-,0.0,-,-,1.0,0.0,0
1,1.0,-,0.0,0.0,-,1.0,1.0,-,1.0,-,27.0,1.0,-,-,1.0,0.0,0

100%|█████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00,  5.14it/s]

Query instance (original outcome : 1)

,checkingstatus1,duration,history,purpose,amount,savings,employ,installment,sex,residence,age,housing,cards,liable,tele,foreign,target
0,0.0,6,1.0,3.0,14896,0.0,2.0,1,1.0,4,68,1.0,1,1,1.0,0.0,1

Diverse Counterfactual set (new outcome: 0.0)

,checkingstatus1,duration,history,purpose,amount,savings,employ,installment,sex,residence,age,housing,cards,liable,tele,foreign,target
0,0.0,-,1.0,3.0,404.0,0.0,2.0,-,1.0,-,-,1.0,-,-,1.0,0.0,0
1,0.0,-,1.0,3.0,1221.0,0.0,2.0,-,1.0,-,-,1.0,-,-,1.0,0.0,0

100%|█████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00,  5.18it/s]

Query instance (original outcome : 1)

,checkingstatus1,duration,history,purpose,amount,savings,employ,installment,sex,residence,age,housing,cards,liable,tele,foreign,target
0,0.0,36,1.0,2.0,2302,0.0,1.0,4,1.0,4,31,2.0,1,1,0.0,0.0,1

Diverse Counterfactual set (new outcome: 0.0)

,checkingstatus1,duration,history,purpose,amount,savings,employ,installment,sex,residence,age,housing,cards,liable,tele,foreign,target
0,0.0,-,1.0,2.0,-,0.0,2.0,1.0,1.0,-,-,2.0,-,-,0.0,0.0,0
1,0.0,-,1.0,2.0,-,0.0,1.0,2.0,1.0,-,-,2.0,-,-,0.0,1.0,0

100%|█████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00,  5.04it/s]

Query instance (original outcome : 1)

,checkingstatus1,duration,history,purpose,amount,savings,employ,installment,sex,residence,age,housing,cards,liable,tele,foreign,target
0,1.0,18,2.0,2.0,1928,0.0,0.0,2,1.0,2,31,1.0,2,1,0.0,0.0,1

Diverse Counterfactual set (new outcome: 0.0)

,checkingstatus1,duration,history,purpose,amount,savings,employ,installment,sex,residence,age,housing,cards,liable,tele,foreign,target
0,1.0,-,2.0,2.0,-,0.0,0.0,-,1.0,-,72.0,1.0,-,-,0.0,0.0,0
1,1.0,-,2.0,2.0,4623.0,0.0,0.0,-,1.0,-,42.0,1.0,-,-,0.0,0.0,0

100%|█████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00,  5.83it/s]

Query instance (original outcome : 1)

,checkingstatus1,duration,history,purpose,amount,savings,employ,installment,sex,residence,age,housing,cards,liable,tele,foreign,target
0,0.0,21,1.0,2.0,1835,0.0,1.0,3,0.0,2,25,1.0,2,1,1.0,0.0,1

Diverse Counterfactual set (new outcome: 0.0)

,checkingstatus1,duration,history,purpose,amount,savings,employ,installment,sex,residence,age,housing,cards,liable,tele,foreign,target
0,0.0,-,1.0,-,-,0.0,1.0,2.0,0.0,-,-,1.0,-,-,1.0,0.0,0
1,0.0,-,1.0,2.0,-,0.0,-,-,0.0,-,-,2.0,-,-,1.0,0.0,0

100%|█████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00,  4.58it/s]

Query instance (original outcome : 1)

,checkingstatus1,duration,history,purpose,amount,savings,employ,installment,sex,residence,age,housing,cards,liable,tele,foreign,target
0,0.0,48,2.0,4.0,6143,0.0,2.0,4,0.0,4,58,0.0,2,1,0.0,0.0,1

Diverse Counterfactual set (new outcome: 0.0)

,checkingstatus1,duration,history,purpose,amount,savings,employ,installment,sex,residence,age,housing,cards,liable,tele,foreign,target
0,2.0,-,2.0,4.0,-,0.0,2.0,-,0.0,-,-,0.0,-,-,0.0,0.0,0
1,1.0,-,2.0,4.0,-,0.0,2.0,-,0.0,-,-,1.0,-,-,0.0,0.0,0

100%|█████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00,  4.66it/s]

Query instance (original outcome : 1)

,checkingstatus1,duration,history,purpose,amount,savings,employ,installment,sex,residence,age,housing,cards,liable,tele,foreign,target
0,0.0,24,0.0,0.0,3161,0.0,1.0,4,1.0,2,31,2.0,1,1,1.0,0.0,1

Diverse Counterfactual set (new outcome: 0.0)

,checkingstatus1,duration,history,purpose,amount,savings,employ,installment,sex,residence,age,housing,cards,liable,tele,foreign,target
0,0.0,-,0.0,0.0,-,0.0,1.0,-,1.0,-,69.0,1.0,-,-,1.0,0.0,0
1,0.0,30.0,0.0,0.0,-,0.0,1.0,-,1.0,-,-,2.0,-,-,1.0,0.0,0

100%|█████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00,  5.04it/s]

Query instance (original outcome : 1)

,checkingstatus1,duration,history,purpose,amount,savings,employ,installment,sex,residence,age,housing,cards,liable,tele,foreign,target
0,3.0,12,0.0,1.0,3447,1.0,1.0,4,0.0,3,35,1.0,1,2,0.0,0.0,1

Diverse Counterfactual set (new outcome: 0.0)

,checkingstatus1,duration,history,purpose,amount,savings,employ,installment,sex,residence,age,housing,cards,liable,tele,foreign,target
0,3.0,-,0.0,4.0,-,1.0,1.0,-,-,-,-,1.0,-,-,0.0,0.0,0
1,3.0,-,0.0,1.0,-,1.0,1.0,-,0.0,4.0,64.0,1.0,-,-,0.0,0.0,0

100%|█████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00,  5.09it/s]

Query instance (original outcome : 1)

,checkingstatus1,duration,history,purpose,amount,savings,employ,installment,sex,residence,age,housing,cards,liable,tele,foreign,target
0,0.0,24,1.0,2.0,1938,0.0,0.0,4,1.0,3,32,1.0,1,1,0.0,0.0,1

Diverse Counterfactual set (new outcome: 0.0)

,checkingstatus1,duration,history,purpose,amount,savings,employ,installment,sex,residence,age,housing,cards,liable,tele,foreign,target
0,0.0,-,1.0,2.0,-,0.0,0.0,2.0,1.0,-,-,1.0,-,-,1.0,0.0,0
1,2.0,33.0,1.0,2.0,-,0.0,0.0,-,1.0,-,-,1.0,-,-,0.0,0.0,0

100%|█████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00,  5.16it/s]

Query instance (original outcome : 1)

,checkingstatus1,duration,history,purpose,amount,savings,employ,installment,sex,residence,age,housing,cards,liable,tele,foreign,target
0,1.0,9,1.0,3.0,276,0.0,1.0,4,1.0,4,22,2.0,1,1,0.0,0.0,1

Diverse Counterfactual set (new outcome: 0.0)

,checkingstatus1,duration,history,purpose,amount,savings,employ,installment,sex,residence,age,housing,cards,liable,tele,foreign,target
0,1.0,-,1.0,3.0,6578.0,0.0,1.0,-,1.0,-,28.0,2.0,-,-,0.0,0.0,0
1,1.0,-,1.0,3.0,-,0.0,1.0,-,1.0,-,54.0,2.0,-,-,-,0.0,0

100%|█████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00,  5.52it/s]

Query instance (original outcome : 1)

,checkingstatus1,duration,history,purpose,amount,savings,employ,installment,sex,residence,age,housing,cards,liable,tele,foreign,target
0,1.0,6,0.0,3.0,931,1.0,0.0,1,0.0,1,32,1.0,1,1,0.0,0.0,1

Diverse Counterfactual set (new outcome: 0.0)

,checkingstatus1,duration,history,purpose,amount,savings,employ,installment,sex,residence,age,housing,cards,liable,tele,foreign,target
0,1.0,-,0.0,4.0,3303.0,1.0,0.0,-,0.0,-,-,1.0,-,-,0.0,0.0,0
1,1.0,-,0.0,3.0,-,1.0,0.0,-,0.0,-,-,1.0,-,2.0,1.0,0.0,0

100%|█████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00,  5.09it/s]

Query instance (original outcome : 1)

,checkingstatus1,duration,history,purpose,amount,savings,employ,installment,sex,residence,age,housing,cards,liable,tele,foreign,target
0,0.0,48,1.0,1.0,7476,0.0,1.0,4,1.0,1,50,0.0,1,1,1.0,0.0,1

Diverse Counterfactual set (new outcome: 0.0)

,checkingstatus1,duration,history,purpose,amount,savings,employ,installment,sex,residence,age,housing,cards,liable,tele,foreign,target
0,0.0,-,1.0,1.0,14120.0,0.0,1.0,-,1.0,-,60.0,0.0,-,-,1.0,0.0,0
1,3.0,-,1.0,1.0,-,0.0,1.0,-,1.0,3.0,-,0.0,-,-,1.0,0.0,0

100%|█████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00,  6.64it/s]

Query instance (original outcome : 1)

,checkingstatus1,duration,history,purpose,amount,savings,employ,installment,sex,residence,age,housing,cards,liable,tele,foreign,target
0,1.0,24,1.0,3.0,1246,0.0,0.0,4,1.0,2,23,1.0,1,1,0.0,0.0,1

Diverse Counterfactual set (new outcome: 0.0)

,checkingstatus1,duration,history,purpose,amount,savings,employ,installment,sex,residence,age,housing,cards,liable,tele,foreign,target
0,3.0,-,1.0,3.0,-,0.0,0.0,1.0,1.0,-,-,1.0,-,-,0.0,0.0,0
1,1.0,-,1.0,3.0,-,0.0,0.0,-,1.0,1.0,-,1.0,-,-,0.0,0.0,0

100%|█████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00,  4.96it/s]

Query instance (original outcome : 1)

,checkingstatus1,duration,history,purpose,amount,savings,employ,installment,sex,residence,age,housing,cards,liable,tele,foreign,target
0,1.0,48,1.0,0.0,6681,0.0,1.0,4,1.0,4,38,0.0,1,2,1.0,0.0,1

Diverse Counterfactual set (new outcome: 0.0)

,checkingstatus1,duration,history,purpose,amount,savings,employ,installment,sex,residence,age,housing,cards,liable,tele,foreign,target
0,1.0,-,1.0,4.0,-,0.0,2.0,-,1.0,-,-,0.0,-,-,1.0,0.0,0
1,1.0,-,1.0,4.0,-,0.0,1.0,3.0,1.0,-,-,0.0,-,-,1.0,0.0,0

100%|█████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00,  5.46it/s]

Query instance (original outcome : 1)

,checkingstatus1,duration,history,purpose,amount,savings,employ,installment,sex,residence,age,housing,cards,liable,tele,foreign,target
0,1.0,60,1.0,3.0,7408,1.0,0.0,4,0.0,2,24,1.0,1,1,0.0,0.0,1

Diverse Counterfactual set (new outcome: 0.0)

,checkingstatus1,duration,history,purpose,amount,savings,employ,installment,sex,residence,age,housing,cards,liable,tele,foreign,target
0,1.0,-,1.0,3.0,-,1.0,0.0,-,0.0,1.0,-,1.0,-,2.0,0.0,0.0,0
1,1.0,12.0,1.0,3.0,-,1.0,0.0,-,-,-,-,1.0,-,-,0.0,0.0,0

100%|█████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00,  5.14it/s]

Query instance (original outcome : 1)

,checkingstatus1,duration,history,purpose,amount,savings,employ,installment,sex,residence,age,housing,cards,liable,tele,foreign,target
0,0.0,24,0.0,4.0,3632,0.0,1.0,1,0.0,4,22,2.0,1,1,0.0,1.0,1

Diverse Counterfactual set (new outcome: 0.0)

,checkingstatus1,duration,history,purpose,amount,savings,employ,installment,sex,residence,age,housing,cards,liable,tele,foreign,target
0,0.0,31.0,0.0,4.0,-,0.0,1.0,-,0.0,-,-,-,-,-,0.0,1.0,0
1,0.0,40.0,0.0,4.0,-,0.0,1.0,-,0.0,-,-,2.0,-,-,0.0,1.0,0

# Alibi RL

In [72]:
import tensorflow as tf
from tensorflow import keras

# 获取分类特征
categorical_features = credit_data.select_dtypes(include=['object']).columns.tolist()
# 获取数值特征
numerical_features = credit_data.select_dtypes(include=['float64', 'int64']).columns.tolist()
numerical_features.remove('Default')

# 定义数值型特征的输入
numerical_inputs = keras.Input(shape=(len(numerical_features),), name="numerical")

# 定义分类型特征的输入
categorical_inputs = [keras.Input(shape=(1,), name=cat_feature) for cat_feature in categorical_features]

# 编码器部分

categorical_vocabs = [credit_data[cat_feature].nunique() for cat_feature in categorical_features]
encoded_numerical = keras.layers.Dense(64, activation="relu")(numerical_inputs)
encoded_categorical = [keras.layers.Embedding(input_dim=cat_vocab, output_dim=8)(cat_input) for cat_input, cat_vocab in zip(categorical_inputs, categorical_vocabs)]
encoded_categorical = [keras.layers.Flatten()(embed) for embed in encoded_categorical]

latent_dim = 8
# 合并编码后的特征
encoded_features = keras.layers.Concatenate()([encoded_numerical] + encoded_categorical)
latent_space = keras.layers.Dense(latent_dim, activation="relu")(encoded_features)

# 解码器部分
decoded_numerical = keras.layers.Dense(len(numerical_features), activation="linear")(latent_space)
decoded_categorical = [keras.layers.Dense(cat_vocab, activation="softmax")(latent_space) for cat_vocab in categorical_vocabs]

# 构建自编码器模型
encoder = keras.Model(inputs=[numerical_inputs] + categorical_inputs, outputs=latent_space)

# 定义解码器的输入层
decoder_input = keras.Input(shape=(latent_dim,), name="decoder_input")

# 使用解码器的层将新的输入层解码回原始空间
decoded_numerical_output = keras.layers.Dense(len(numerical_features), activation="linear")(decoder_input)
decoded_categorical_outputs = [keras.layers.Dense(vocab_size, activation="softmax")(decoder_input) for vocab_size in categorical_vocabs]

# 定义解码器模型
decoder = keras.Model(inputs=decoder_input, outputs=[decoded_numerical_output] + decoded_categorical_outputs)

# 使用编码器和解码器定义完整的自编码器模型
autoencoder_outputs = decoder(encoder([numerical_inputs] + categorical_inputs))
autoencoder = keras.Model(inputs=[numerical_inputs] + categorical_inputs, outputs=autoencoder_outputs)

# 编译模型
autoencoder.compile(optimizer="adam", loss=["mse"] + ["categorical_crossentropy"] * len(categorical_features))

In [73]:
categorical_features

['checkingstatus1',
 'history',
 'purpose',
 'savings',
 'employ',
 'sex',
 'housing',
 'tele',
 'foreign']

In [74]:
numerical_features

['duration', 'amount', 'installment', 'residence', 'age', 'cards', 'liable']

In [76]:
# 假设您的数据是X_test

# 将X_test分解为多个数组
inputs = [X_test[numerical_features].values] + [X_test[cat_feature].values for cat_feature in categorical_features]

# 使用编码器得到编码结果
encoded_data = encoder.predict(inputs)

# 使用解码器得到解码结果
decoded_data = decoder.predict(encoded_data)

`Model.state_updates` will be removed in a future version. This property should not be used in TensorFlow 2.0, as `updates` are applied automatically.

In [77]:
encoded_data

array([[ 256.25372,    0.     ,  185.05359, ...,  524.71814,    0.     ,
           0.     ],
       [ 354.11032,    0.     ,  252.47156, ...,  719.7493 ,    0.     ,
           0.     ],
       [ 185.64175,    0.     ,  137.77817, ...,  383.2987 ,    0.     ,
           0.     ],
       ...,
       [ 527.29706,    0.     ,  376.88644, ..., 1079.7372 ,    0.     ,
           0.     ],
       [ 289.56705,    0.     ,  211.16765, ...,  598.47314,    0.     ,
           0.     ],
       [ 753.0077 ,    0.     ,  545.914  , ..., 1553.1106 ,    0.     ,
           0.     ]], dtype=float32)

In [78]:
decoded_data

[array([[   71.785416,  -697.51227 ,  -203.29886 , ...,   428.89395 ,
           388.27206 ,  -184.90216 ],
        [   99.20991 ,  -957.3672  ,  -280.3802  , ...,   588.46484 ,
           532.44763 ,  -252.9188  ],
        [   49.776978,  -509.32928 ,  -147.98804 , ...,   312.65475 ,
           281.13812 ,  -135.55675 ],
        ...,
        [  151.99545 , -1434.662   ,  -417.4381  , ...,   883.26245 ,
           804.02075 ,  -380.4143  ],
        [   81.60968 ,  -794.2169  ,  -230.2409  , ...,   488.41876 ,
           443.81995 ,  -211.54353 ],
        [  215.46242 , -2062.2449  ,  -597.43054 , ...,  1269.4846  ,
          1155.0159  ,  -548.77234 ]], dtype=float32),
 array([[7.49851418e-24, 7.90684752e-24, 1.00000000e+00, 0.00000000e+00],
        [1.52097052e-32, 1.49867007e-32, 1.00000000e+00, 0.00000000e+00],
        [3.13897548e-18, 4.03672742e-17, 1.00000000e+00, 0.00000000e+00],
        [1.09062682e-10, 9.33660482e-10, 1.00000000e+00, 0.00000000e+00],
        [0.00000000e+00, 0.00000000e+00, 1.00000000e+00, 0.00000000e+00],
        [2.12774635e-20, 4.78003688e-17, 1.00000000e+00, 0.00000000e+00],
        [1.87771802e-17, 9.57429822e-16, 1.00000000e+00, 0.00000000e+00],
        [1.25424631e-05, 2.06216486e-04, 9.99781311e-01, 8.78466376e-21],
        [1.40588895e-26, 7.20450333e-27, 1.00000000e+00, 0.00000000e+00],
        [0.00000000e+00, 0.00000000e+00, 1.00000000e+00, 0.00000000e+00],
        [1.51453542e-05, 9.25083586e-04, 9.99059856e-01, 4.87871043e-18],
        [1.35985399e-29, 5.01988795e-29, 1.00000000e+00, 0.00000000e+00],
        [1.32905961e-11, 4.66820249e-10, 1.00000000e+00, 0.00000000e+00],
        [0.00000000e+00, 0.00000000e+00, 1.00000000e+00, 0.00000000e+00],
        [0.00000000e+00, 0.00000000e+00, 1.00000000e+00, 0.00000000e+00],
        [1.87735382e-31, 9.15504717e-31, 1.00000000e+00, 0.00000000e+00],
        [5.80269466e-25, 3.59797561e-25, 1.00000000e+00, 0.00000000e+00],
        [6.67802489e-12, 1.29999663e-07, 9.99999881e-01, 0.00000000e+00],
        [1.95362895e-16, 9.14478581e-16, 1.00000000e+00, 0.00000000e+00],
        [4.90551575e-27, 3.50993568e-27, 1.00000000e+00, 0.00000000e+00],
        [0.00000000e+00, 0.00000000e+00, 1.00000000e+00, 0.00000000e+00],
        [1.66199262e-25, 2.20992776e-25, 1.00000000e+00, 0.00000000e+00],
        [0.00000000e+00, 0.00000000e+00, 1.00000000e+00, 0.00000000e+00],
        [3.04009828e-13, 4.07857845e-11, 1.00000000e+00, 0.00000000e+00],
        [1.70678987e-23, 6.16578354e-23, 1.00000000e+00, 0.00000000e+00],
        [1.13386676e-14, 2.34399604e-13, 1.00000000e+00, 0.00000000e+00],
        [1.06587896e-17, 5.49474144e-17, 1.00000000e+00, 0.00000000e+00],
        [0.00000000e+00, 0.00000000e+00, 1.00000000e+00, 0.00000000e+00],
        [0.00000000e+00, 0.00000000e+00, 1.00000000e+00, 0.00000000e+00],
        [2.34342226e-22, 3.22658923e-21, 1.00000000e+00, 0.00000000e+00],
        [7.69945245e-08, 1.42536044e-06, 9.99998450e-01, 2.88141854e-31],
        [6.08321804e-16, 7.83823622e-14, 1.00000000e+00, 0.00000000e+00],
        [7.56157832e-13, 3.24679277e-11, 1.00000000e+00, 0.00000000e+00],
        [4.48340809e-11, 6.16888318e-10, 1.00000000e+00, 0.00000000e+00],
        [1.34261128e-23, 1.84474176e-22, 1.00000000e+00, 0.00000000e+00],
        [1.90550223e-21, 2.65717054e-20, 1.00000000e+00, 0.00000000e+00],
        [8.90600586e-22, 5.99087942e-21, 1.00000000e+00, 0.00000000e+00],
        [4.35283531e-18, 1.42366323e-15, 1.00000000e+00, 0.00000000e+00],
        [6.97821041e-27, 1.20688237e-25, 1.00000000e+00, 0.00000000e+00],
        [0.00000000e+00, 0.00000000e+00, 1.00000000e+00, 0.00000000e+00],
        [5.15156065e-33, 5.42157390e-33, 1.00000000e+00, 0.00000000e+00],
        [7.46605528e-18, 1.57628529e-14, 1.00000000e+00, 0.00000000e+00],
        [1.10487153e-27, 7.18504036e-28, 1.00000000e+00, 0.00000000e+00],
        [7.53505295e-22, 9.12371653e-21, 1.00000000e+00, 0.00000000e+00],
        [3.21778852e-21, 2.87201245e-20, 1.00000000e+00, 0.00000000e+00],
        [7.22533795e-12, 4.18370583e-09, 1.00000000e+00, 0.00000000e+00],
        [0.00000000e+00, 0.00000000e+00, 1.00000000e+00, 0.00000000e+00],
        [1.19448860e-08, 7.18439992e-07, 9.99999285e-01, 4.70933563e-33],
        [2.98845225e-06, 1.44227262e-04, 9.99852777e-01, 5.86140111e-22],
        [7.60503053e-06, 1.06188512e-04, 9.99886155e-01, 7.92606745e-22],
        [5.18306424e-24, 4.84953780e-24, 1.00000000e+00, 0.00000000e+00],
        [0.00000000e+00, 0.00000000e+00, 1.00000000e+00, 0.00000000e+00],
        [1.60343083e-14, 2.50498719e-11, 1.00000000e+00, 0.00000000e+00],
        [2.74445724e-21, 1.29007088e-20, 1.00000000e+00, 0.00000000e+00],
        [2.35539513e-15, 3.05992400e-13, 1.00000000e+00, 0.00000000e+00],
        [1.13301880e-15, 4.43683413e-14, 1.00000000e+00, 0.00000000e+00],
        [8.00534641e-28, 2.17014325e-27, 1.00000000e+00, 0.00000000e+00],
        [6.59344523e-11, 9.81443482e-10, 1.00000000e+00, 0.00000000e+00],
        [4.70845141e-10, 5.11677190e-09, 1.00000000e+00, 0.00000000e+00],
        [1.17753218e-09, 3.46459395e-08, 1.00000000e+00, 0.00000000e+00],
        [8.48477241e-34, 3.95647005e-35, 1.00000000e+00, 0.00000000e+00],
        [8.07799409e-19, 1.04268348e-15, 1.00000000e+00, 0.00000000e+00],
        [0.00000000e+00, 0.00000000e+00, 1.00000000e+00, 0.00000000e+00],
        [2.34616986e-13, 3.82024856e-10, 1.00000000e+00, 0.00000000e+00],
        [1.15411750e-10, 1.25984745e-09, 1.00000000e+00, 0.00000000e+00],
        [4.35410527e-22, 1.85064214e-21, 1.00000000e+00, 0.00000000e+00],
        [9.49325514e-19, 3.34719178e-16, 1.00000000e+00, 0.00000000e+00],
        [1.43172691e-18, 9.04616960e-18, 1.00000000e+00, 0.00000000e+00],
        [0.00000000e+00, 0.00000000e+00, 1.00000000e+00, 0.00000000e+00],
        [4.15655532e-22, 3.12879714e-21, 1.00000000e+00, 0.00000000e+00],
        [0.00000000e+00, 0.00000000e+00, 1.00000000e+00, 0.00000000e+00],
        [2.29254565e-05, 7.85174128e-03, 9.92125332e-01, 1.99006291e-14],
        [3.90405785e-06, 8.13551396e-02, 9.18640912e-01, 1.79361768e-14],
        [5.05128828e-09, 6.41027498e-08, 9.99999881e-01, 2.27801244e-37],
        [0.00000000e+00, 0.00000000e+00, 1.00000000e+00, 0.00000000e+00],
        [3.02994851e-10, 3.64595081e-07, 9.99999642e-01, 8.58755698e-37],
        [6.27590358e-19, 9.57801960e-17, 1.00000000e+00, 0.00000000e+00],
        [4.14151618e-05, 1.54788618e-03, 9.98410702e-01, 8.51071508e-17],
        [2.53366378e-19, 2.96560608e-16, 1.00000000e+00, 0.00000000e+00],
        [2.02284525e-07, 2.37071108e-05, 9.99976039e-01, 2.60112770e-26],
        [4.98280497e-12, 8.77423689e-11, 1.00000000e+00, 0.00000000e+00],
        [3.98781126e-17, 3.13854771e-16, 1.00000000e+00, 0.00000000e+00],
        [7.57725552e-21, 3.54728748e-20, 1.00000000e+00, 0.00000000e+00],
        [8.42093772e-09, 1.31107015e-07, 9.99999881e-01, 6.54577086e-36],
        [3.26141929e-07, 4.07713196e-05, 9.99958873e-01, 3.15470456e-25],
        [3.77398283e-06, 1.06479827e-04, 9.99889731e-01, 1.96811266e-22],
        [2.81837372e-14, 2.94637334e-13, 1.00000000e+00, 0.00000000e+00],
        [0.00000000e+00, 0.00000000e+00, 1.00000000e+00, 0.00000000e+00],
        [0.00000000e+00, 0.00000000e+00, 1.00000000e+00, 0.00000000e+00],
        [8.35624972e-13, 4.63597286e-11, 1.00000000e+00, 0.00000000e+00],
        [1.13447918e-10, 1.98537053e-09, 1.00000000e+00, 0.00000000e+00],
        [6.49847289e-06, 5.35289000e-04, 9.99458134e-01, 2.82792889e-19],
        [0.00000000e+00, 0.00000000e+00, 1.00000000e+00, 0.00000000e+00],
        [1.24877666e-22, 1.85118492e-22, 1.00000000e+00, 0.00000000e+00],
        [2.63937905e-21, 1.06102606e-19, 1.00000000e+00, 0.00000000e+00],
        [2.59037165e-06, 4.19150674e-05, 9.99955416e-01, 6.88828057e-24],
        [5.78379522e-19, 3.67984324e-18, 1.00000000e+00, 0.00000000e+00],
        [1.27898890e-17, 1.17188173e-16, 1.00000000e+00, 0.00000000e+00],
        [0.00000000e+00, 0.00000000e+00, 1.00000000e+00, 0.00000000e+00],
        [1.47504928e-29, 2.05839826e-29, 1.00000000e+00, 0.00000000e+00],
        [8.30833512e-24, 1.87179186e-22, 1.00000000e+00, 0.00000000e+00],
        [9.41712397e-09, 3.23694223e-07, 9.99999642e-01, 1.67749403e-34],
        [2.86448710e-07, 1.32311206e-05, 9.99986529e-01, 6.78515519e-27],
        [5.71908879e-21, 1.07753335e-19, 1.00000000e+00, 0.00000000e+00],
        [1.28855639e-12, 5.49922774e-10, 1.00000000e+00, 0.00000000e+00],
        [2.47214570e-15, 7.84882820e-14, 1.00000000e+00, 0.00000000e+00],
        [1.00640004e-12, 1.76374577e-08, 1.00000000e+00, 0.00000000e+00],
        [3.01822064e-23, 1.03967311e-22, 1.00000000e+00, 0.00000000e+00],
        [3.51880672e-29, 1.47716645e-29, 1.00000000e+00, 0.00000000e+00],
        [0.00000000e+00, 0.00000000e+00, 1.00000000e+00, 0.00000000e+00],
        [6.13302849e-18, 1.02240245e-16, 1.00000000e+00, 0.00000000e+00],
        [2.32275283e-08, 2.77742347e-05, 9.99972224e-01, 3.74963923e-27],
        [8.82670326e-12, 1.23940191e-10, 1.00000000e+00, 0.00000000e+00],
        [2.97267798e-13, 1.14738430e-09, 1.00000000e+00, 0.00000000e+00],
        [5.27189507e-11, 1.57086888e-09, 1.00000000e+00, 0.00000000e+00],
        [2.01284801e-15, 7.20468810e-14, 1.00000000e+00, 0.00000000e+00],
        [1.76497661e-08, 2.42046849e-06, 9.99997616e-01, 1.69069519e-31],
        [1.88519389e-20, 2.13426805e-18, 1.00000000e+00, 0.00000000e+00],
        [2.57436316e-23, 5.29487920e-23, 1.00000000e+00, 0.00000000e+00],
        [0.00000000e+00, 0.00000000e+00, 1.00000000e+00, 0.00000000e+00],
        [1.39036455e-17, 5.17618922e-16, 1.00000000e+00, 0.00000000e+00],
        [9.06467167e-21, 8.21189692e-21, 1.00000000e+00, 0.00000000e+00],
        [9.37363076e-10, 1.59281903e-08, 1.00000000e+00, 0.00000000e+00],
        [1.80581515e-13, 2.08063124e-12, 1.00000000e+00, 0.00000000e+00],
        [5.70659581e-23, 5.43496630e-20, 1.00000000e+00, 0.00000000e+00],
        [1.68187434e-15, 3.15309505e-14, 1.00000000e+00, 0.00000000e+00],
        [9.88103121e-19, 2.51530173e-17, 1.00000000e+00, 0.00000000e+00],
        [2.37636976e-11, 4.44775061e-09, 1.00000000e+00, 0.00000000e+00],
        [9.03513148e-26, 1.03437907e-24, 1.00000000e+00, 0.00000000e+00],
        [2.58180979e-14, 3.01677676e-11, 1.00000000e+00, 0.00000000e+00],
        [7.44068048e-29, 1.15361386e-28, 1.00000000e+00, 0.00000000e+00],
        [7.38471240e-09, 4.93308726e-05, 9.99950647e-01, 6.65883422e-27],
        [4.49955131e-08, 8.50181550e-06, 9.99991536e-01, 7.01866951e-29],
        [3.47724101e-14, 6.45679040e-13, 1.00000000e+00, 0.00000000e+00],
        [1.92253395e-07, 6.34157113e-05, 9.99936342e-01, 1.17036390e-24],
        [2.59493675e-07, 5.48342359e-06, 9.99994278e-01, 2.91845818e-28],
        [1.50632409e-14, 1.50486028e-13, 1.00000000e+00, 0.00000000e+00],
        [4.20759827e-09, 7.15011424e-07, 9.99999285e-01, 9.28434642e-34],
        [4.96479897e-12, 2.85468177e-10, 1.00000000e+00, 0.00000000e+00],
        [2.80392255e-11, 2.24050520e-08, 1.00000000e+00, 0.00000000e+00],
        [0.00000000e+00, 0.00000000e+00, 1.00000000e+00, 0.00000000e+00],
        [6.65100475e-11, 5.35544142e-09, 1.00000000e+00, 0.00000000e+00],
        [6.88559521e-05, 2.09534075e-03, 9.97835815e-01, 5.90979440e-16],
        [3.17961972e-14, 2.04269466e-11, 1.00000000e+00, 0.00000000e+00],
        [0.00000000e+00, 0.00000000e+00, 1.00000000e+00, 0.00000000e+00],
        [4.91963479e-24, 2.17230126e-23, 1.00000000e+00, 0.00000000e+00],
        [2.77428320e-08, 6.99965881e-07, 9.99999285e-01, 1.27083693e-32],
        [3.33684835e-26, 1.15725205e-25, 1.00000000e+00, 0.00000000e+00],
        [2.82658965e-21, 1.18352459e-19, 1.00000000e+00, 0.00000000e+00],
        [1.31811561e-15, 3.38727086e-14, 1.00000000e+00, 0.00000000e+00],
        [4.13069466e-15, 1.74329260e-13, 1.00000000e+00, 0.00000000e+00],
        [9.28491674e-27, 7.07629926e-26, 1.00000000e+00, 0.00000000e+00],
        [1.31557105e-19, 8.80676616e-18, 1.00000000e+00, 0.00000000e+00],
        [1.21087983e-11, 2.55965489e-08, 1.00000000e+00, 0.00000000e+00],
        [6.90356734e-13, 1.56388964e-11, 1.00000000e+00, 0.00000000e+00],
        [2.69096106e-23, 1.69906679e-22, 1.00000000e+00, 0.00000000e+00],
        [1.23482780e-03, 3.62971239e-02, 9.62468088e-01, 2.66462297e-10],
        [4.94879604e-09, 8.61838430e-07, 9.99999166e-01, 1.74930880e-33],
        [1.06535379e-11, 1.73487669e-10, 1.00000000e+00, 0.00000000e+00],
        [7.75782308e-31, 6.42643627e-30, 1.00000000e+00, 0.00000000e+00],
        [8.97204355e-09, 4.96115547e-07, 9.99999523e-01, 9.98416137e-34],
        [3.63216729e-22, 1.04530073e-21, 1.00000000e+00, 0.00000000e+00],
        [1.71008210e-07, 5.69854601e-05, 9.99942899e-01, 4.19177167e-25],
        [0.00000000e+00, 0.00000000e+00, 1.00000000e+00, 0.00000000e+00],
        [7.22485090e-17, 1.11381961e-16, 1.00000000e+00, 0.00000000e+00],
        [2.85068286e-36, 5.69318589e-36, 1.00000000e+00, 0.00000000e+00],
        [3.43724402e-20, 1.83044544e-18, 1.00000000e+00, 0.00000000e+00],
        [2.59071146e-27, 2.78736971e-27, 1.00000000e+00, 0.00000000e+00],
        [2.19381544e-12, 2.63448360e-11, 1.00000000e+00, 0.00000000e+00],
        [0.00000000e+00, 0.00000000e+00, 1.00000000e+00, 0.00000000e+00],
        [5.36786135e-26, 2.64530059e-25, 1.00000000e+00, 0.00000000e+00],
        [5.02272540e-13, 1.15467233e-10, 1.00000000e+00, 0.00000000e+00],
        [3.62534742e-12, 7.33985234e-11, 1.00000000e+00, 0.00000000e+00],
        [3.56501302e-15, 1.87838200e-12, 1.00000000e+00, 0.00000000e+00],
        [1.39391771e-24, 1.17648721e-22, 1.00000000e+00, 0.00000000e+00],
        [6.73587908e-14, 1.93779292e-13, 1.00000000e+00, 0.00000000e+00],
        [5.99878421e-16, 2.57669222e-15, 1.00000000e+00, 0.00000000e+00],
        [1.00875298e-11, 3.87196977e-08, 1.00000000e+00, 0.00000000e+00],
        [3.52199948e-31, 7.54042010e-32, 1.00000000e+00, 0.00000000e+00],
        [0.00000000e+00, 0.00000000e+00, 1.00000000e+00, 0.00000000e+00],
        [2.90012401e-17, 1.21077113e-15, 1.00000000e+00, 0.00000000e+00],
        [1.64367231e-30, 9.92702534e-31, 1.00000000e+00, 0.00000000e+00],
        [2.47255336e-08, 2.77717140e-06, 9.99997258e-01, 1.07893924e-30],
        [8.04661784e-13, 2.47633216e-11, 1.00000000e+00, 0.00000000e+00],
        [7.88615876e-30, 1.69235271e-29, 1.00000000e+00, 0.00000000e+00],
        [7.85656484e-10, 2.20183192e-05, 9.99977946e-01, 2.79211543e-29],
        [2.25318805e-10, 3.66120956e-09, 1.00000000e+00, 0.00000000e+00],
        [4.26489519e-13, 2.09825525e-11, 1.00000000e+00, 0.00000000e+00],
        [1.20925776e-08, 1.17243417e-06, 9.99998808e-01, 7.12939822e-33],
        [2.93703328e-23, 1.52948467e-22, 1.00000000e+00, 0.00000000e+00],
        [1.82307741e-13, 4.19724082e-11, 1.00000000e+00, 0.00000000e+00],
        [0.00000000e+00, 0.00000000e+00, 1.00000000e+00, 0.00000000e+00],
        [7.18019155e-09, 1.96495125e-06, 9.99998093e-01, 4.29639365e-32],
        [2.18123439e-32, 7.31255287e-32, 1.00000000e+00, 0.00000000e+00],
        [3.43233566e-17, 2.40278825e-13, 1.00000000e+00, 0.00000000e+00],
        [2.94085472e-24, 5.04318303e-24, 1.00000000e+00, 0.00000000e+00],
        [0.00000000e+00, 0.00000000e+00, 1.00000000e+00, 0.00000000e+00],
        [0.00000000e+00, 0.00000000e+00, 1.00000000e+00, 0.00000000e+00],
        [1.27780283e-26, 4.57467680e-27, 1.00000000e+00, 0.00000000e+00],
        [0.00000000e+00, 0.00000000e+00, 1.00000000e+00, 0.00000000e+00]],
       dtype=float32),
 array([[1.0000000e+00, 0.0000000e+00, 0.0000000e+00],
        [1.0000000e+00, 0.0000000e+00, 0.0000000e+00],
        [1.0000000e+00, 0.0000000e+00, 0.0000000e+00],
        [1.0000000e+00, 0.0000000e+00, 0.0000000e+00],
        [1.0000000e+00, 0.0000000e+00, 0.0000000e+00],
        [1.0000000e+00, 0.0000000e+00, 0.0000000e+00],
        [1.0000000e+00, 0.0000000e+00, 0.0000000e+00],
        [1.0000000e+00, 4.0325603e-30, 4.1080191e-30],
        [1.0000000e+00, 0.0000000e+00, 0.0000000e+00],
        [1.0000000e+00, 0.0000000e+00, 0.0000000e+00],
        [1.0000000e+00, 2.0663101e-24, 1.0947963e-23],
        [1.0000000e+00, 0.0000000e+00, 0.0000000e+00],
        [1.0000000e+00, 0.0000000e+00, 0.0000000e+00],
        [1.0000000e+00, 0.0000000e+00, 0.0000000e+00],
        [1.0000000e+00, 0.0000000e+00, 0.0000000e+00],
        [1.0000000e+00, 0.0000000e+00, 0.0000000e+00],
        [1.0000000e+00, 0.0000000e+00, 0.0000000e+00],
        [1.0000000e+00, 0.0000000e+00, 0.0000000e+00],
        [1.0000000e+00, 0.0000000e+00, 0.0000000e+00],
        [1.0000000e+00, 0.0000000e+00, 0.0000000e+00],
        [1.0000000e+00, 0.0000000e+00, 0.0000000e+00],
        [1.0000000e+00, 0.0000000e+00, 0.0000000e+00],
        [1.0000000e+00, 0.0000000e+00, 0.0000000e+00],
        [1.0000000e+00, 0.0000000e+00, 0.0000000e+00],
        [1.0000000e+00, 0.0000000e+00, 0.0000000e+00],
        [1.0000000e+00, 0.0000000e+00, 0.0000000e+00],
        [1.0000000e+00, 0.0000000e+00, 0.0000000e+00],
        [1.0000000e+00, 0.0000000e+00, 0.0000000e+00],
        [1.0000000e+00, 0.0000000e+00, 0.0000000e+00],
        [1.0000000e+00, 0.0000000e+00, 0.0000000e+00],
        [1.0000000e+00, 0.0000000e+00, 0.0000000e+00],
        [1.0000000e+00, 0.0000000e+00, 0.0000000e+00],
        [1.0000000e+00, 0.0000000e+00, 0.0000000e+00],
        [1.0000000e+00, 0.0000000e+00, 0.0000000e+00],
        [1.0000000e+00, 0.0000000e+00, 0.0000000e+00],
        [1.0000000e+00, 0.0000000e+00, 0.0000000e+00],
        [1.0000000e+00, 0.0000000e+00, 0.0000000e+00],
        [1.0000000e+00, 0.0000000e+00, 0.0000000e+00],
        [1.0000000e+00, 0.0000000e+00, 0.0000000e+00],
        [1.0000000e+00, 0.0000000e+00, 0.0000000e+00],
        [1.0000000e+00, 0.0000000e+00, 0.0000000e+00],
        [1.0000000e+00, 0.0000000e+00, 0.0000000e+00],
        [1.0000000e+00, 0.0000000e+00, 0.0000000e+00],
        [1.0000000e+00, 0.0000000e+00, 0.0000000e+00],
        [1.0000000e+00, 0.0000000e+00, 0.0000000e+00],
        [1.0000000e+00, 0.0000000e+00, 0.0000000e+00],
        [1.0000000e+00, 0.0000000e+00, 0.0000000e+00],
        [1.0000000e+00, 0.0000000e+00, 0.0000000e+00],
        [1.0000000e+00, 6.9740980e-31, 1.2165537e-30],
        [1.0000000e+00, 7.3096842e-31, 5.8239911e-30],
        [1.0000000e+00, 0.0000000e+00, 0.0000000e+00],
        [1.0000000e+00, 0.0000000e+00, 0.0000000e+00],
        [1.0000000e+00, 0.0000000e+00, 0.0000000e+00],
        [1.0000000e+00, 0.0000000e+00, 0.0000000e+00],
        [1.0000000e+00, 0.0000000e+00, 0.0000000e+00],
        [1.0000000e+00, 0.0000000e+00, 0.0000000e+00],
        [1.0000000e+00, 0.0000000e+00, 0.0000000e+00],
        [1.0000000e+00, 0.0000000e+00, 0.0000000e+00],
        [1.0000000e+00, 0.0000000e+00, 0.0000000e+00],
        [1.0000000e+00, 0.0000000e+00, 0.0000000e+00],
        [1.0000000e+00, 0.0000000e+00, 0.0000000e+00],
        [1.0000000e+00, 0.0000000e+00, 0.0000000e+00],
        [1.0000000e+00, 0.0000000e+00, 0.0000000e+00],
        [1.0000000e+00, 0.0000000e+00, 0.0000000e+00],
        [1.0000000e+00, 0.0000000e+00, 0.0000000e+00],
        [1.0000000e+00, 0.0000000e+00, 0.0000000e+00],
        [1.0000000e+00, 0.0000000e+00, 0.0000000e+00],
        [1.0000000e+00, 0.0000000e+00, 0.0000000e+00],
        [1.0000000e+00, 0.0000000e+00, 0.0000000e+00],
        [1.0000000e+00, 0.0000000e+00, 0.0000000e+00],
        [1.0000000e+00, 0.0000000e+00, 0.0000000e+00],
        [1.0000000e+00, 5.1746835e-18, 4.5879119e-17],
        [1.0000000e+00, 2.4970786e-18, 2.7946132e-17],
        [1.0000000e+00, 0.0000000e+00, 0.0000000e+00],
        [1.0000000e+00, 0.0000000e+00, 0.0000000e+00],
        [1.0000000e+00, 0.0000000e+00, 0.0000000e+00],
        [1.0000000e+00, 0.0000000e+00, 0.0000000e+00],
        [1.0000000e+00, 2.8213083e-23, 5.6846080e-23],
        [1.0000000e+00, 0.0000000e+00, 0.0000000e+00],
        [1.0000000e+00, 1.0491878e-36, 3.6795007e-36],
        [1.0000000e+00, 0.0000000e+00, 0.0000000e+00],

In [ ]:
explainerrl = CounterfactualRLTabular(predictor=predictor,
                                    encoder=heae.encoder,
                                    decoder=heae.decoder,
                                    latent_dim=LATENT_DIM,
                                    encoder_preprocessor=heae_preprocessor,
                                    decoder_inv_preprocessor=heae_inv_preprocessor,
                                    coeff_sparsity=COEFF_SPARSITY,
                                    coeff_consistency=COEFF_CONSISTENCY,
                                    category_map=category_map,
                                    feature_names=feature_names,
                                    ranges=ranges,
                                    immutable_features=immutable_features,
                                    train_steps=TRAIN_STEPS,
                                    batch_size=BATCH_SIZE,
                                    backend="tensorflow")